#search-bar {
    position: absolute;
    top: 0px;
    left: 60px;
    width: 90%;
    height: 30px;
    /* border: 1px solid var(--tree-color); */
    border: 1px solid transparent;
    outline: none;
    font-size: 22px;
    color: rgb(44, 188, 224);
    font-weight: 600;
}

#search-bar:focus {
    border-bottom: 1px solid rgb(44, 188, 224);
    animation: searchDance 10s ease infinite;
}

@keyframes searchDance {
    0% {
        border-bottom: 1px solid rgb(44, 188, 224);
    }
    5% {
        border-bottom: 1px transparent;
    }
    7% {
        border-bottom: 1px solid rgb(44, 188, 224);
    }
    25% {
        border-bottom: 1px transparent;
    }
    30% {
        border-bottom: 1px solid rgb(44, 188, 224);
    }
    40% {
        border: 1px solid var(--tree-color)
    }
    45% {
        border: 1px solid transparent;
        border-bottom: 1px transparent;
    }
    50% {
        border-bottom: 1px solid rgb(44, 188, 224);
    }
    85% {
        border-bottom: 1px transparent;
    }
    90% {
        border-bottom: 1px solid rgb(44, 188, 224);
    }
    100% {
        border-bottom: 1px solid rgb(44, 188, 224);
    }
}